body {
    background-color: lavender;
}

#container {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    height: 960px;
    margin: 20px auto;
    position: relative;
}

.content {
    background-color: white;
    border: 1px solid black;
    box-sizing: border-box; /* Prevents extra spacing from borders */
}

.permahover {
    background: pink;
}

#but {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

button {
    font-size: 16px;
    width: 150px;
    height:40px;
    background-color: pink;
}